body {
  font-family: 'Lato', sans-serif;
  margin-top: 57px;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding-left: 36px;
  padding-right: 36px;
  display: flex;
  flex-direction: row;
}
